<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Twitter API Smoke Suite" verbose="1">
    <test name="User and Tweet API Tests">
        <classes>
            <class name="tests.GetTweetTests"/>
            <class name="tests.PostTweetTests"/>
            <class name="tests.UserProfileTests"/>
        </classes>
    </test>

</suite>
